doctype html
head
  title !{app.NAME}
  meta(charset='utf-8')
  meta(name='description' content='')
  meta(name='author' content='Wai Phyo')
  meta(name='viewport' content='width=device-width, initial-scale=1')

  // Import Icon
  link(rel='manifest' href='../images/favicon/site.webmanifest')
  link(rel='apple-touch-icon' sizes='180x180' href='../images/favicon/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='../images/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='../images/favicon/favicon-16x16.png')

  // Bootstrap
  link(href='/assets/dist/css/bootstrap.min.css' rel='stylesheet')

  // Tags Input
  link(href='/assets/dist/css/tagsinput.css' rel='stylesheet')

  // Data Table
  link(href="/layout-css/lib/data-table/jquery.dataTables.min.css" rel="stylesheet")

  // Layout Lib
  link(href='/layout-css/lib/select2/select2.min.css' rel='stylesheet')
  link(href='/layout-css/lib/sweetalert2/sweetalert2.min.css' rel='stylesheet')
  link(href='/layout-css/lib/datepicker/bootstrap-datepicker3.min.css' rel='stylesheet')

  // CND Util Lib
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css")
  link(href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css" rel="stylesheet")
  link(href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css")
  link(href='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css' integrity='sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==' rel="stylesheet"  crossorigin='anonymous' referrerpolicy='no-referrer')

  // Layout CSS
  link(href='/layout-css/theme-config.css' rel='stylesheet')
  link#themeLink(href=`/layout-css/theme-${user.theme}.css` rel='stylesheet')
  link(href='/layout-css/material-button.css' rel='stylesheet')
  link(href='/layout-css/dashboard.css' rel='stylesheet')
  
  // Jquery Core
  script(src="/layout-js/lib/jquery.min.js")

#wrapper.d-flex
  include layout-sidebar

  #page-content-wrapper
    include layout-navbar

    .container-fluid
      block content
      span.dev-mode 
        | 🚀

    .footer.bg-light
      footer#sticky-footer.flex-shrink-0.py-3
        .container.text-center
          span Copyright &copy;
            a(href="https://waiphyonaing.me") 
              | Wai Phyo Naing

script.
  // Global Variable
  var table, pageEntry;
  var token = '!{user.latmat}';
  var userId = '!{user._id}';
  var role = '!{user.role}';
  var signJwtMethod = "one";
  var maxImageCount = 5;

  // request permission to user but not still use
  //- if (Notification.permission != "granted") {
  //-   Notification.requestPermission(); 
  //- }

  function dataTableDef (curPage) { 
    const buttons = [
      'excel',
      'pdf', 
      'print'
    ];

    const options = {
      exportOptions: {
        modifier: {
          order: 'index',
          page: 'all',
          search: 'none'
        },
        columns: ':visible'
      }
    };

    const langOptions = {
      "searchPlaceholder": "Search",
      "paginate": {
        "first": "<i class='bi bi-chevron-double-left'/>",
        "previous": "<i class='bi bi-chevron-left'/>",
        "next": "<i class='bi bi-chevron-right'/>",
        "last": "<i class='bi bi-chevron-double-right'/>"
      }
    };

    const buttonOptions  = buttons.map((button) => {
      return {
        filename: curPage,
        extend: button,
        ...options
      }
    });

    const lengthOptions = [
      [10, 25, 50, -1],
      [10, 25, 50, 'All'],
    ];

    return {
      "destroy": true,
      "scrollX": true,
      "autoWidth": true,
      "serverSide": true,
      //- "processing": true,
      "pagingType": "full_numbers",
      "language": langOptions,
      "buttons": buttonOptions,
      "lengthMenu": lengthOptions,
    };
  }

  function fetchDataDef (curUrl) {
    return {
      "url": "./api" + curUrl,
      "headers": {
        "userrole": role,
        "x-access-method": signJwtMethod,
        "authorization": "Bearer " + token
      },
      "dataSrc": "data",
    };
  }

<!-- Layout Lib -->
script(src='/layout-js/lib/moment/moment.js')
script(src='/layout-js/lib/select2/select2.full.min.js')
script(src='/layout-js/lib/sweetalert2/sweetalert2.min.js')
script(src='/assets/dist/js/bootstrap.bundle.min.js')

<!-- Data Table JS -->
script(src="/layout-js/lib/data-table/jquery.datatables.min.js")
script(src="/layout-js/lib/data-table/datatables.buttons.min.js")
script(src="/layout-js/lib/data-table/buttons.html5.min.js")
script(src="/layout-js/lib/data-table/buttons.print.min.js")
script(src="/layout-js/lib/data-table/pdfmake.min.js")
script(src="/layout-js/lib/data-table/jszip.min.js")
script(src="/layout-js/lib/data-table/vfs_fonts.js")

<!-- CND Util Lib -->
script(src="/layout-js/lib/datepicker/bootstrap-datepicker.min.js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js')
script(src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js")

<!-- Layout JS -->
script(src='/layout-js/datatable.js')
script(src='/layout-js/common.js')
script(src='/layout-js/onload.js')
script(src='/layout-js/helpers.js')

// Menu Toggle Script
script.
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });