div.modal.fade#dialogSetTheme(tabindex='-1', role='dialog', aria-labelledby='dialogSetTheme')
  div.modal-dialog.modal-dialog-centered.modal-lg.custom-modal-lg(role='document')
    div.modal-content
      div.modal-header
        h5.modal-title !{content.change_theme}
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      div.modal-body
        div#theme-container.d-flex.flex-wrap.justify-content-center
          .theme.default
            label
              input(type='radio' name="theme_name" value='default' checked=(user.theme === 'default'))
              span Default
          .theme.action
            label
              input(type='radio' name="theme_name" value='action' checked=(user.theme === 'action'))
              span Action
          .theme.comedy
            label
              input(type='radio' name="theme_name" value='comedy' checked=(user.theme === 'comedy'))
              span Comedy
          .theme.crime
            label
              input(type='radio' name="theme_name" value='crime' checked=(user.theme === 'crime'))
              span Crime
          .theme.history
            label
              input(type='radio' name="theme_name" value='history' checked=(user.theme === 'history'))
              span History
          .theme.reality
            label
              input(type='radio' name="theme_name" value='reality' checked=(user.theme === 'reality'))
              span Reality
          .theme.news
            label
              input(type='radio' name="theme_name" value='news' checked=(user.theme === 'news'))
              span News
          .theme.sports
            label
              input(type='radio' name="theme_name" value='sports' checked=(user.theme === 'sports'))
              span Sports
      div.modal-footer.justify-content-md-center
        button.btn.material-button.material-secondary#dialogCancel(type='button', data-dismiss='modal')
          |  !{content.close}
        button.btn.material-button.material-primary#dialogTheme(type='button', data-dismiss='modal')
          i.bi.bi-save
          |  !{content.save}

script.
  $(document).ready(function() {
    $("#dialogTheme").on('click', function(){
      const currentTheme = '!{user.theme}';
      const newTheme = $('input[name=theme_name]:checked').val();

      if (newTheme !== currentTheme) {
        $.ajax({
          type: "PUT",
          url: `/api/v1/user-no-pass/${userId}`,
          headers: {
            "userrole": role,
            "x-csrf-token": csrf,
            "x-access-method": signJwtMethod,
            "authorization": "Bearer " + token,
          },
          data: { theme: newTheme } ,
          success: function (response) {
            if (response.code != 200) {
              swalWarning({
                title: "Warning",
                description: "Sorry, your theme was not changed.",
              })
            }
            else {
              swalWarning({
                icon: "success",
                title: "Success",
                description: "Your theme is successfully changed.",
              });

              setTimeout(()=> {
                localStorage.setItem("theme", newTheme)
                window.location.reload();
              }, 3000);
            }
          },
          error: function (jqXHR, textStatus, errorThrown) {
            swalWarning({
              title: "Warning",
              description: "Description: " + errorThrown,
            });
          },
        });
      }
      else {
        swalWarning({
          title: "Warning",
          description: "Please select a different theme.",
        });
      }
    })
  });