extends ../includes/layout-main
block content
  main.card.mx-3.p-3(role='main')

    include ./../includes/list/layout-list-header

    table#example.table.table-striped(style='width:100%')
      thead
        tr
          th #
          th City
          th Unit
          th Code
          th Description
          th Status
          th Updated_at
          th.text-right Actions
      tbody
      
  script.
    $(document).ready(function() {
      pageEntry = '!{page.entry.url}';
      $.fn.dataTable.ext.errMode = 'none';
      $.fn.dataTable.ext.classes.sPageButton = 'btn material-button material-primary m-1'; 

      table = $('#example').on('error.dt', dataTableCallback)
        .DataTable({
          ...dataTableDef('!{page.list.title}'),
          "ajax": fetchDataDef('!{page.list.url}'),
          "columns": [
            { "data": "_id" },
            { "data": "city_mm"},
            { "data": "unit" },
            { "data": "code" },
            { "data": "description" },
            { "data": "status" },
            { "data": "updated_at" },
            { "data": "actions" },
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 5, render: dataTableActiveRenderer() },
            { targets: 6, render: dataTableDateTimeRenderer() },
            { targets: 6, orderable: false, render: dataTableActionsRenderer(
                ".!{page.entry.url}", "!{page.read}", "!{page.edit}", "!{page.delete}"
              )
            }
          ],
          "serverSide": false,
      });
    });