extends ../includes/layout-main
block content
  main.card.mx-3.p-3(role='main')
    include ./../includes/entry/layout-entry-header
    include ./../includes/entry/layout-entry-form
      block inputs

        div.form-group.row
          div.col-sm-6.mb-3
            label.control-label(for='township_mm') Township (MM)
            input.form-control.input-sm#township_mm(type='text', name='township_mm', value=data.township_mm, maxlength="55" autocomplete="off" required autofocus)
          
          div.col-sm-6.mb-3
            label.control-label(for='township_en') Township (EN)
            input.form-control.input-sm#township_en(type='text', name='township_en' value=data.township_en maxlength="55" autocomplete="off")

          div.col-sm-6.mb-3
            - var cityid =  data.cityid || "#";
            label.control-label(for='city') City
            select.form-control.input-sm.selectpicker#cityid(name='cityid' value=cityid._id data-value=cityid._id, data-live-search="true", data-size="8" required)
          
          div.col-sm-6.mb-3
            label.control-label(for='code') Code
            input.form-control.input-sm#code(type='text', name='code', value=data.code, maxlength="55" autocomplete="off" )
 
          div.col-sm-6.mb-3
            label.control-label(for='description') Description
            input.form-control.input-sm#description(type='text', name='description', value=data.description autocomplete="off")
          
          div.col-sm-6.mb-3
            label.control-label.d-block(for='status') Status 
            .btn-group.btn-group-toggle(data-toggle='buttons')
              label.btn.btn-outline-success.btn-toggle(class=`${data.status == true ? "active" : ""}`)
                input(type='radio' name=`status` value="1" autocomplete='off' checked=(data.status == true))
                span.active  Active

              label.btn.btn-outline-secondary.btn-toggle(class=`${data.status == false ? "active" : ""}`)
                input(type='radio' name=`status` value="0" autocomplete='off' checked=(data.status == false))
                span.inactive  Inactive

        include ./../includes/entry/layout-entry-btn

    form#postSuccessForm(method='GET', action=page.list.url)
  script.
    $(document).ready(function() {
      ajaxLoadOption({
        type: "GET",
        url:"/api/cities",
        selectId: "#cityid",
        showKey: "city_mm",
        filterObj: {},
      });
    });