extends ../includes/layout-main
block content
  main.mx-3(role='main')
    include ./../includes/modal/filter-table
    include ./../includes/list/list-header

    table#example.table.table-striped(style='width:100%')
      thead
        tr
          th #
          th !{content.access_role}
          th !{content.access_level}
          th !{content.common.status}
          th !{content.common.updated_at}
          th.text-right !{content.common.actions}
      tbody
  script.
    $(document).ready(function() {
      pageEntry = '!{page.entry.url}';
      $.fn.dataTable.ext.errMode = 'none';
      $.fn.dataTable.ext.classes.sPageButton = 'btn material-button material-primary m-1'; 

      table = $('#example').on('error.dt', dataTableCallback)
        .DataTable({
          ...dataTableDef('!{page.list.title}'),
          "ajax": fetchDataDef('!{page.list.url}'),
          "columns":  [
            { "data": "_id" },
            { "data": "role"},
            { "data": "level"},
            { "data": "status"},
            { "data": "updated_at"},
            { "data": "actions", "className":"nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 3, render: dataTableActiveRenderer() },
            { targets: 4, render: dataTableDateTimeRenderer() },
            { targets: 5, orderable: false, render: dataTableActionsRenderer(
                ".!{page.entry.url}", "!{page.read}", "!{page.edit}", "!{page.delete}"
              )
            }
          ],
          "serverSide": false,
      });

      $("#dialogFilter").on("click", function() {
        $("#filterModalForm").trigger("submit")
      })

      $("#filterModalForm").submit(function (e) {
        e.preventDefault();
        const listUrl = '!{page.list.url}';
        const query = $(this).serialize();
        table.ajax.url(`./api/${apiVersionNum}${listUrl}?${query}`).load();
        $('#dialogFilterTable').modal('hide');
      });
    });